.title {
    display: flex;
    justify-content: center;
    font-family: 'Bungee Shade', cursive;
    font-size:5vh;
}

h1:hover {
    color: #9555af
}

.searchField {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#searchInput {
    border-radius: 4px;
    width: 15rem;
}

#searchInput:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(255, 105, 180, 0.5),
      0 0 0 1.5px rgba(255, 105, 180, 0.5);
}

.button {
    display: inline-block;
    text-align: center;
    text-decoration: none; 
    margin: 2px 0;  
    border: solid 1px transparent;
    border-radius: 4px;  
    padding: 0.5em 1em;  
    color: #ffffff;
    background-color: #9555af;

}

.button:hover {
    color: #9555af;
    border-color: currentColor;
    background-color: white;
}

#searchBtn:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(255, 105, 180, 0.5),
      0 0 0 1.5px rgba(255, 105, 180, 0.5);
}

.gifDisplay {
    display: none;
    height: 500vh;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;

}

.gifCard {
    height: 300px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
}

.gifImg {
    height: 200px;
    width: 300px;
}

.gifBtn {
    justify-content: center;
    margin-top: 10px;
}

.footer {
    display: flex;
    position: fixed;
    justify-content: center;
    background-color: white;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footerText {
    align-self: center;
}

.fa-github {
    align-self: flex-end;
    margin: 10px;
    color: black;
}

.fa-github:hover {
    color: #9555af;
}

.modal {
    display: none;
    position: fixed;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modalLink {
    width: 65vw;
    margin-top: 10px;
}

.modal.visible {
    display: flex;
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fefefe;
    margin: auto;
    margin-bottom: 20vh;
    padding: 20px;
    border: 1px solid #888;
    width: 75vw;
}
  
.close {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
    position: relative;
    left: 35vw;
}
  
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width:600px) {

    body .title {
        font-size: 2rem;
    }

    body .gifDisplay {
        width: 90vw;
        height: 600vh;
        margin: auto;
        display: none;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        overflow: auto;
    }

    body .gifCard {
        width: 85vw;
        padding: 5vw;;
        justify-content: center;
        align-items: center;
    }

    body .gifBtn {
        width: 50vw;
        height: 7.5vh;
        margin-top: 10px;
    }

    body .footer {
        display: flex;
        position: fixed;
        justify-content: center;
        background-color: white;
        left: 0;
        bottom: 0;
        width: 100%;
    }

    body .modalLink {
        margin-top: 10px;
        width: 75vw;
    }
}