.searchField {
    display: flex;
    justify-content: center;
};

div.container.gifDisplay {
    display: flex;
    justify-content: center;
}

/* .imgContainer {
    display: flex;
    width: 25%;
    border: 5px solid red;
    justify-content: center;

} */

img {
    padding: 2px;
    height: 200px;
    width: 300px;
}