.title {
    display: flex;
    justify-content: center;
    font-family: 'Bungee Shade', cursive;
}

.searchField {
    display: flex;
    justify-content: center;
}

#searchInput {
    border-radius: 4px;
    width: 15rem;
}

#searchInput:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(255, 105, 180, 0.5),
      0 0 0 1.5px rgba(255, 105, 180, 0.5);
}

.button {
    display: inline-block;
    text-align: center;
    text-decoration: none; 
    margin: 2px 0;  
    border: solid 1px transparent;
    border-radius: 4px;  
    padding: 0.5em 1em;  
    color: #ffffff;
    background-color: #9555af;

}

.button:hover {
    color: #9555af;
    border-color: currentColor;
    background-color: white;
}

#searchBtn:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(255, 105, 180, 0.5),
      0 0 0 1.5px rgba(255, 105, 180, 0.5);
}

.gifDisplay {
    height: 500vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto auto 50px auto;
}

img {
    padding: 5px;
    height: 200px;
    width: 300px;
}

.gifButton {
    justify-content: center;
}

.footer {
    display: flex;
    position: fixed;
    justify-content: center;
    background-color: white;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footerText {
    align-self: center;
}

.fa-github {
    align-self: flex-end;
    margin: 10px;
    color: black;
}

.fa-github:hover {
    color: #9555af;
}

@media screen and (max-width:768px) {
    body img {
        height: 20vh;
        width: 45vw;
    }

    body .title {
        font-size: 2rem;
    }

    body .gifDisplay {
        width: 100vw;
    }
}